<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeatSaberModdingTools.Properties.BeatSaberModdingToolsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BeatSaberModdingTools.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BeatSaberModdingTools.Properties.BeatSaberModdingToolsSettings>
            <setting name="ChosenInstallPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateUserFileWithTemplate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateUserFileOnExisting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetManifestJsonDefaults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyToIPAPendingOnBuild" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BuildReferenceType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Manifest_Author" serializeAs="String">
                <value />
            </setting>
            <setting name="Manifest_Donation" serializeAs="String">
                <value />
            </setting>
            <setting name="Manifest_AuthorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Manifest_DonationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </BeatSaberModdingTools.Properties.BeatSaberModdingToolsSettings>
        <BeatSaberModdingTools.GeneralSettings>
            <setting name="BeatSaberDir" serializeAs="String">
                <value />
            </setting>
        </BeatSaberModdingTools.GeneralSettings>
    </userSettings>
</configuration>